{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-header">Регистрация</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Зарегистрироваться</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
